@media screen and (max-width:1000px) {
    body{
        background-color: white;  
    }
    nav{
       flex-direction: column; 
    }
    .slider{
        height: 20vh;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }
    nav ul{
        justify-content:center ;
    }
    .card-item img{
        width:140px;
    }
    .search{
      justify-content: center;
    }
    .search input{
        margin:12px 16px;
    }
    nav ul{
        height: 34px;
    }
    header{
        height: 23vh;
    }

}