@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Baloo+Bhai+2:wght@400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-bg-color: blue;
}

* {
    padding: 0;
    margin: 0;
}

header {
    height: 58px;
    background: var(--main-bg-color);
    font-family: "Lato", sans-serif;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
    padding: 20px;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    height: 58px;
    align-items: center;
}

nav ul li {
    padding: 23px;
    list-style: none;
}

nav ul li a {

    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding: 0 12px;

}

.search button {
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

.slider {
    margin: auto;
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}

.card {
    max-width: 91vw;
    margin: 26px auto;
    font-family: "Lato", sans-serif;
    
}
.cards{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    overflow: hidden;
}

.card-item {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}

.card h2 {
    font-family: "Lato", sans-serif;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: "Lato", sans-serif;
}