.flex-all-center{
    display: flex;
    justify-content: center;
   align-items: center;
}
.btn:hover{
    padding: 5px 10px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
}

.text-center{
text-align: center;
}